WeatherReport_Package/flows/LDC_Send_Weather_Report_By_Email.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>226</locationX>
        <locationY>1439</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Date_Sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>recordEmailCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>LDC_WeatherReportSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LDC_WeatherReportBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_Contact_Emails_to_Collection</name>
        <label>Add Contact Emails to Collection</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>recordEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Account_Contacts.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Account_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Email_to_Collection</name>
        <label>Add User Email to Collection</label>
        <locationX>490</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>recordEmailCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_on_Users_from_Group.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Users_from_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_User_Ids_to_Collection</name>
        <label>Add User Ids to Collection</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>userIdsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Over_Group_Members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Group_Members</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Record_Id</name>
        <label>Has Record Id</label>
        <locationX>226</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Public_Group</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send Email to Users</defaultConnectorLabel>
        <rules>
            <name>Send_Email_to_Account_Contacs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LDC_Weather_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_from_Account</targetReference>
            </connector>
            <label>Send Email to Account Contacs</label>
        </rules>
    </decisions>
    <description>LDC - This flow is used to send weather reports to Account&apos;s contacts or User&apos;s internal users by email</description>
    <environments>Default</environments>
    <interviewLabel>LDC - Send Weather Report By Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LDC - Send Weather Report By Email</label>
    <loops>
        <name>Loop_on_Account_Contacts</name>
        <label>Loop on Account Contacts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Contacts_from_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Contact_Emails_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_on_Users_from_Group</name>
        <label>Loop on Users from Group</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <collectionReference>Get_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Email_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Email</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Over_Group_Members</name>
        <label>Loop Over Group Members</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Group_Members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_User_Ids_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Users</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contacts_from_Account</name>
        <label>Get Contacts from Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Account_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LDC_Weather_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Group_Members</name>
        <label>Get Group Members</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Over_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>402</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LDC_Weather_Users</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users</name>
        <label>Get Users</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Users_from_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>userIdsCollection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Date_Sent</name>
        <label>Update Date Sent</label>
        <locationX>226</locationX>
        <locationY>1547</locationY>
        <inputAssignments>
            <field>LDC_Date_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Record_Id</targetReference>
        </connector>
        <object>LDC_Weather_Report__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>LDC_WeatherReportBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hello,
Please find your special Weather Report : 
- Condition : {!$Record.LDC_Weather_Condition__c}
- Temperature : {!$Record.LDC_Temperature__c}
- Humidity : {!$Record.LDC_Humidity__c}
- Wind Speed : {!$Record.LDC_Wind_Speed__c}

Best regards
{!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>LDC_WeatherReportSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Weather Report from {!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>recordEmailCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>userIdsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
